.page__footer {
  background-color:#fff !important;
}
.page__footer-follow, .page__footer-copyright {
  background: linear-gradient(90deg,#fbfbfb 0,#f6f6f6 50%,#fbfbfb) !important;
}

.page__footer > footer {
  max-width:100% !important;
  padding:0;
  text-align:center;
}

div.socialMedia {
  line-height: 1.15;
  --wp-admin-theme-color: #007cba;
  --wp-admin-theme-color-darker-10: #006ba1;
  --wp-admin-theme-color-darker-20: #005a87;
  font-weight: 300;
  color: #494949;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: center;
}

a.socialMedia__iconHolder {
  line-height: 1.15;
  --wp-admin-theme-color: #007cba;
  --wp-admin-theme-color-darker-10: #006ba1;
  --wp-admin-theme-color-darker-20: #005a87;
  font-weight: 300;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  transition: .25s;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 44px;
  height: 44px;
  margin: 0 8px;
  border-radius: 53% 47% 50% 50%/53% 70% 30% 47%;
  background-color: #139aaf;
}

img.socialMedia__icon {
  line-height: 1.15;
  --wp-admin-theme-color: #007cba;
  --wp-admin-theme-color-darker-10: #006ba1;
  --wp-admin-theme-color-darker-20: #005a87;
  font-weight: 300;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  color: inherit;
  box-sizing: border-box;
  border-style: none;
  max-width: 100%;
  width: 20px;
  height: 20px;  
}
